.part1{
  height: 90vh;
  width: 100%;

  background-image: url(../pictures/Blue\ Modern\ Business\ Zoom\ Virtual\ Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--tertiary-color);

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-attachment: fixed;
}

.textbox-hero{
  width: 50%;
}

.textbox-hero p{
  font-family: Source Sans Pro;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  color: white;
  margin-bottom: 5%;
  font-weight: 300;
}

.textbox-hero h1{
  font-family: Oswald;
  font-size: clamp(4rem, 6vw, 5.5rem);
  color: white;
  margin-bottom: 1%;
}

.textbox-hero a{
  background-color: var(--fourth-color);
  padding: 15px 55px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-family: Source Sans Pro;
  font-size: 1.2rem;

  text-decoration: none;
}

.textbox-hero a:hover{
  background-color: var(--primary-color);
}

.hero-img{
  width: 30%;
  height: 100%;
}

.hero-img img{
  height: 100%;
}


/*--------------------------------------------------   CONFERENCE ACHIEVEMENTS ----------------------------------------*/

.part3{
  padding-left: 5%;
  padding-right: 1%;
  margin-top: 0;
}

.local-textbox{
  margin-top: 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  margin-right: 4%;
}

.local-textbox h1{
  font-size: 3rem;
  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 2px;
}

.local-textbox p{
  color:var(--fifth-color);

  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 2px;
}

.local-impacts-container{
  display: flex;
  flex-direction: column;

}

.local-impact{
  display: flex;
  padding-bottom: 5%;
  flex-direction: column;
}

.impact{
  display: flex;
  width: 100%;
  height: 100%;

  padding-right: 4%;
  gap: 2%;
  margin-top: 3%;
}

.impact:nth-child(2){
  margin-top: 8%;
}

.impact-box{
  display:flex;
  flex-direction: column;
  width: 48%;
}

.scale{
  width: 75%;
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
}

.scale2{
  width: 75%;
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
}

.faded3{
  padding-top: 2%;
  color: var(--primary-color);

  font-family: Source Sans Pro;
  font-weight: 500;
  letter-spacing: 1px;
}

.impact-title{
  font-size: 2.2rem;
  padding-top: 1%;
  margin: 0px;

  font-family: Oswald;
  font-weight: 400;
  letter-spacing: 2px;
}

.impact-text{
  font-size: 1.2rem;
  margin: 0px;
  padding-top: 2%;

  font-family: Source Sans Pro;
  font-weight: 400;
}

.impact-box a{
  margin-top: 15%;
  padding: 10px 15px;
  background-color: var(--fourth-color);
  width: 35%;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 22px;
  font-family: Source Sans Pro;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.impact-box a:hover{
  background-color: var(--primary-color);
}

.img-bkg{
  background-image: url("../pictures/C17E527F-97C7-42D1-B689-A533B2164910.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 550px;
  width: 100%;
  transition: all 0.2s ease;
}

.img-bkg:hover{
  transform: scale(1.1,1.1);
}

.img-bkg2{
  background-image: url("../pictures/20230412_132627.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 550px;
  width: 100%;
  transition: all 0.2s ease;
}

.img-bkg2:hover{
  transform: scale(1.1,1.1);
}

@media (max-width: 1068px){
  .local-impact{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .impact{
    display: flex;
    flex-direction: column;
    width: 100%;
  
    padding-right: 5%;
    padding-bottom: 5%;
  }
  
  .scale{
    width: 100%;
    overflow: hidden;
  }

  .impact-box{
    width: 100%;
    margin-top: 5%;
  }

  .impact-box a{
    margin-top: 15%;
    width: 100%;
    margin-bottom: 5%;
  }
 
}


.full-screen{
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8%;
  margin-bottom: 0;
  width: 100%;
  animation-duration: 0.75s;
}

.img-long-container2{
  height: 100%;
  width: 100%;
  position: relative;
}

.img-long-container2 img{
  width: 100%;
  height: 100%;
  filter: brightness(35%);
  object-fit: cover;
}


/*---------------------------- LARGE PART 4 FACT DISPLAY ----------------------------*/


.part4{
  background-color: var(--tertiary-color);
  height: 300vh;

  display: flex;
  flex-direction: column;

  position: relative;
}

.sponsor-title{
  padding-top: 10%;
  text-align: center;
  color: white;

  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.5rem;
  z-index: 2;
}

.fact-holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  z-index: 2;
}

.fact-container{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 5%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.fact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 25%;
  z-index: 2;
}

.fact img{
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease-in-out;
}

.fact img:hover{
  filter: hue-rotate(10deg);
  transform: scale(1.01,1.01);
}

.fact h1{
  padding-top: 5%;
  font-family: Source Sans Pro;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.fact p{
  padding-top: 3%;
  font-family: Source Sans Pro;
  text-align: center;
  color: white;

  font-size: 1.2rem;
}

@media (max-width: 768px){
  .fact{
    width: 90%;
    margin-left: 0%;
  }

  .fact img{
    width: 30%;
  }

  .fact h1{
    font-size: 2rem;
  }
  
  .fact p{
  
    font-size: 1rem;
  }

  .sponsor-title{
    font-size: 1.2rem;
    width: 95%;
  }

}

/*----------- MARQUEEEEE ---------------------*/

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 20vh;
  overflow-x: hidden;

  display: flex;
  align-items: center;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.content{
  font-size: 2rem;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.title-marquee{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

/*--------------------- TEXTBOX 2 ---------------------*/

.part4-2{
  display: flex;
  height: 80vh;
  margin-top: 3%;
}

.info-container{
  display: flex;
  justify-content: center;
  padding: 2.5%;
  gap: 5%;
}

.img-info-holder{
  width: 48%;
  height: 100%;
  border-radius: 16px;
  position: relative;
}

.bg-text{
  position: absolute;
  padding: 20px;
  top: 36%;
  left: 38%;
  border-radius: 16px;

  background: rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.315);
  backdrop-filter: blur(20px);
}

.sub-img{
  height: 140px;
}

.img-info-holder .big-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 4px solid #fffef8;
}


.white-box{
  position: absolute;
  background-color: var(--tertiary-color);
  border: 1px solid black;
  width: 26%;
  padding: 0.5%;
  top: 30%;
  right: -8%;
  border-radius: 16px;
}

.white-box img{
  height: 50px;
  width: 50px;
}

.textbox{
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 42%;
  padding: 2%;
}

.textbox h1{
  font-size: clamp(2rem, 8vw, 3.55rem);
  font-family: Roboto Slab;
  font-weight: 400;
}

.textbox p{
  font-size: clamp(.8rem, 5vw, 1.2rem);
  font-family: Mulish;
}

.textbox a{
  text-decoration: none;
  color: var(--secondary-color);

  margin-top: 12%;
  padding: 2% 5%;
  background-color: var(--fourth-color);
  width: 250px;
  text-align: center;
  border-radius: 22px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Mulish;
}

.textbox a:hover{
  background-color: var(--primary-color);
}

@media (max-width: 968px){

  .info-container{
    flex-direction: column;
  }

  .img-info-holder{
    width: 100%;
    height: 70%;
  }
  
  .textbox{
    width: 100%;
    padding: 5%;
  }

  .textbox h1{
    padding-bottom: 5%;
  }

  .part4{
    display: flex;
    height: 2080px;
  }

  .bg-text{
    top: 32%;
    left: 35%;
  }

  .part4-2{
    display: flex;
    height: 900px;
    margin-top: 55%;
    
  }
}

/*------------------------------------ BUTTON =---------------------------------*/

.button-fame{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-fame a{
  padding: 20px 35px;
  border-radius: 20px;
  text-decoration: none;

  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: Oswald;
  letter-spacing: 3px;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  transition: all 0.2s ease-in-out;
}

.button-fame a:hover{
  padding: 25px 45px;
  background-color: var(--fourth-color);
}


/*------------------------------------ responsive =---------------------------------*/

@media (max-width:1068px){
  .part1{
    flex-direction: column;
    height: 1020px;
    justify-content: center;
    align-items: center;
  }

  .textbox-hero{
    width: 96%;
    margin-left: 5%;
    margin-top: 15%;
  }

  .textbox-hero h1{
    font-size: 3rem;
  }

  .textbox-hero p{
    font-size: 1rem;
    margin-bottom: 10%;
  }

  .hero-img{
    width: 100%;
    height: 60%;
  }
  
  .hero-img img{
    height: 100%;
    width: 95%;
  }

  .textbox-hero a{
    font-size: 1rem;
  }
  

  .button-fame{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
  }

  
}